.itemDone {
  text-decoration: line-through;
  color: red;
}

span {
  padding: 2px;
  margin: 2px auto 0px auto;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

#header {
  padding: 10px 0% 0px 35%;
}

form {
  padding: 0px;
  margin: 0px;
  text-align: center;
}

#submit {
  display: inline;
  padding: 2px;
  margin: 0;
}

#submit:hover {
  background-color: #09A67A;
}

#items {
  display: inline;
  padding: 50px;
  margin: 1px 0% 2px 1rem;
  width: 50px;
}

button {
  margin: 5px auto 0px auto;
  border-radius: 10%;
}

button:hover {
  background-color: #A6090A;
}

input {
  text-align: center;
}

#theForm {
  display: inline-block;
  padding: 5px;
  margin: 2px 2% 0px 2%;
}

#todoText {
  padding: 0px;
  margin: 0px 75px 0px 2rem;
  text-align: center;
}

#xbutton {
  margin: 5px auto 5px 5px;
  padding: 3px;
  margin-left: 0 0 0 1rem;
}

#results {
  text-align: left;
  padding: 0;
}
